h5{
    color:rgb(97, 204, 207);
}

h4{
    color: rgb(96, 204, 207);
}


#back{
    text-align: right;
}



.mx-2{
    background-color: lightblue;  
    
}

.row{
    display: flex;
  
  flex-wrap: wrap;
}


.my-4{
    color:black;
}

.my-5{
    padding-left: 2px ;
}

.btn{
    /* margin-left: 450px; */
    margin-top: 5px;
    margin-bottom: 5px;
}


img{
    flex-basis: 25%;
    border-radius: 10px;
    
}

.card{
border-radius: 10px;
flex-wrap: wrap;
} 


.form-label{
    float: left;
    width: 100%;
    display: block;
}

.form-control
{
    float: left;
    width: 100%;
    display: block;
}

/* .form-select{
    float: left;
    width: 100%;
} */

*{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label, select, textarea{
    display: block;
}

@media screen and (max-width: 600px) {
    .form-labe, .form-control, .form-select, .card, input[type=submit]{
      width: 100%;
      margin-top: 0;
    }
  }

  @media screen and (max-width: 800px) {
    .form-labe, .form-control, .form-select, input[type=submit]{
      width: 100%;
      margin-top: 0;
    }
  }

  